<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test thread-count="5" name="xmltest">
  <groups>
  <run>
  <include name = "sanity" />
   <include name = "smoke" />
   </run>
   </groups>
   
    <classes>
      <class name="TestngGroups.Groupclass"/>
    </classes>
    </test>
    
     <test thread-count="5" name="xmltest2">
      <classes>
      <class name="TestngGroups.Groupclass"/>
      <class name="TestngGroups.ClassA"/>
    </classes>
  </test> <!-- xmltest -->
</suite> <!-- Suite -->
